<?xml version="1.0" encoding="utf-8"?>
<configuration>
    <startup> 
        
    <supportedRuntime version="v4.0" sku=".NETFramework,Version=v4.7.2" /></startup>

    <appSettings>

        <add key="MainProgramSettings.ImageDownloadFolder" value="c:\temp\" />
		<add key="MainProgramSettings.ImageThumbnailWidth" value="160" />
	  
        <add key="ClientSettingsProvider.ServiceUri" value="" />
        <add key="ClientSettingsProvider.ConnectionStringName" value="DefaultConnection" />

		<!-- Base URL. Notes: 1) Order on UI follows order below, 2) empty string items not shown on UI -->
		<add key="BaseURL.ConnectionString0" value="https://rlg-ric-test-qua.apigee.net/dms-search-v1" />
		<add key="BaseURL.ConnectionString1" value="https://rlg-ric-test-qua.apigee.net/dms-search-v1" />
		<add key="BaseURL.ConnectionString2" value="https://rlg-ric-test-qua.apigee.net/dms-search-v1" />
		<add key="BaseURL.ConnectionString3" value="https://rlg-ric-test-qua.apigee.net/dms-search-v1" />
		<add key="BaseURL.ConnectionString4" value="https://rlg-ric-test-qua.apigee.net/dms-search-v1" />
		<add key="BaseURL.ConnectionString5" value="" />
		<add key="BaseURL.ConnectionString6" value="" />
		<add key="BaseURL.ConnectionString7" value="" />
		<add key="BaseURL.ConnectionString8" value="" />
		<add key="BaseURL.ConnectionString9" value="" />

        <!-- Brand Cross Reference -->
		<add key="BrandCrossReference.BM" value="BNM;B&amp;B_M.png;" />
		<add key="BrandCrossReference.CR" value="CAR;Cartier;Cartier.png" />
		<add key="BrandCrossReference.CH" value="CHL;Chloe;chloe.png" />
		<add key="BrandCrossReference.DU" value="DUN;Dunhill;dunhill.png" />
		<add key="BrandCrossReference.IW" value="IWC;IWC;iwc_logo.png" />
		<add key="BrandCrossReference.JL" value="JLC;JLC;JLC_Logo_Black.png" />
		<add key="BrandCrossReference.MB" value="MTB;Mont Blanc;Mont_Blanc.png" />
		<add key="BrandCrossReference.MG" value="MTG;Montegrappa;" />
		<add key="BrandCrossReference.PN" value="PAN;Panerai;Panerai_Logo.png" />
		<add key="BrandCrossReference.PG" value="PIA;Piaget;Piaget_Logo_Black.png" />
		<add key="BrandCrossReference.VM" value="VAC;Vacheron;Vacheron_Logo.png" />
		<add key="BrandCrossReference.RD" value="RDU;Roger Dubuis;logo_RD.png" />
		<add key="BrandCrossReference.VC" value="VCA;Van Cleef &amp; Arpels;VCA_Logo_Black" />
		<add key="BrandCrossReference.LS" value="ALS;Lange &amp; Sohne;lange_and_sohne_logo.png" />
		
        <add key="RichemontApis:ProductCatalog:Server:Host" value="https://rlg-ric-test-qua.apigee.net/dms-search-v1" />
        <add key="RichemontApis:ProductCatalog:Server:HostSuffix" value="/query/product-list/result/4fe992aec7492307b439381893281f14" />
        <add key="RichemontApis:ProductCatalog:Paths:ProductList:Path" value="/query/product-list/result/4fe992aec7492307b439381893281f14" />
        <add key="RichemontApis:ProductCatalog:Paths:StandardizedProduct:Path" value="/query/standardized-product/result/1f1ea4ec1943cdc508eea28a9432cf70" />
        <add key="RichemontApis:ProductCatalog:Server:Authentication:Type" value="ApiKey" />
        <add key="RichemontApis:ProductCatalog:Server:Authentication:ApiKeyName" value="x-apikey" />
        <add key="RichemontApis:ProductCatalog:Server:Authentication:ApiKeyValue" value="F4VJUH9JZiXV5v2hfRM5PwmYUVdatDB0" />

        <add key="RichemontApis:StockApi:Server:Host" value="https://rlg-ric-prod-val.apigee.net/stock" />
        <add key="RichemontApis:StockApi:Paths:ProductStocks:Path" value="/" />
        <add key="RichemontApis:StockApi:Server:Authentication:Type" value="ApiKey" />
        <add key="RichemontApis:StockApi:Server:Authentication:ApiKeyName" value="x-apikey" />
        <add key="RichemontApis:StockApi:Server:Authentication:ApiKeyValue" value="F4VJUH9JZiXV5v2hfRM5PwmYUVdatDB0" />
    </appSettings>  
  
    <runtime>  
            <assemblyBinding xmlns="urn:schemas-microsoft-com:asm.v1">  
                    <dependentAssembly>  
                            <assemblyIdentity name="System.Runtime.CompilerServices.Unsafe" publicKeyToken="b03f5f7f11d50a3a" culture="neutral" />  
                            <bindingRedirect oldVersion="0.0.0.0-4.0.6.0" newVersion="4.0.6.0" />  
                    </dependentAssembly>  
                    <dependentAssembly>  
                            <assemblyIdentity name="System.Memory" publicKeyToken="cc7b13ffcd2ddd51" culture="neutral" />  
                            <bindingRedirect oldVersion="0.0.0.0-4.0.1.1" newVersion="4.0.1.1" />  
                    </dependentAssembly>  
                    <dependentAssembly>  
                            <assemblyIdentity name="Microsoft.Extensions.Primitives" publicKeyToken="adb9793829ddae60" culture="neutral" />  
                            <bindingRedirect oldVersion="0.0.0.0-3.1.9.0" newVersion="3.1.9.0" />  
                    </dependentAssembly>  
                    <dependentAssembly>  
                            <assemblyIdentity name="Microsoft.Extensions.Configuration.Abstractions" publicKeyToken="adb9793829ddae60" culture="neutral" />  
                            <bindingRedirect oldVersion="0.0.0.0-3.1.9.0" newVersion="3.1.9.0" />  
                    </dependentAssembly>  
                    <dependentAssembly>  
                            <assemblyIdentity name="Microsoft.Extensions.Configuration" publicKeyToken="adb9793829ddae60" culture="neutral" />  
                            <bindingRedirect oldVersion="0.0.0.0-3.1.9.0" newVersion="3.1.9.0" />  
                    </dependentAssembly>  
                    <dependentAssembly>  
                            <assemblyIdentity name="Microsoft.Extensions.FileProviders.Abstractions" publicKeyToken="adb9793829ddae60" culture="neutral" />  
                            <bindingRedirect oldVersion="0.0.0.0-3.1.9.0" newVersion="3.1.9.0" />  
                    </dependentAssembly>  
                    <dependentAssembly>  
                            <assemblyIdentity name="Microsoft.Extensions.FileSystemGlobbing" publicKeyToken="adb9793829ddae60" culture="neutral" />  
                            <bindingRedirect oldVersion="0.0.0.0-3.1.9.0" newVersion="3.1.9.0" />  
                    </dependentAssembly>  
                    <dependentAssembly>  
                            <assemblyIdentity name="Microsoft.Extensions.FileProviders.Physical" publicKeyToken="adb9793829ddae60" culture="neutral" />  
                            <bindingRedirect oldVersion="0.0.0.0-3.1.9.0" newVersion="3.1.9.0" />  
                    </dependentAssembly>  
                    <dependentAssembly>  
                            <assemblyIdentity name="Microsoft.Extensions.Configuration.FileExtensions" publicKeyToken="adb9793829ddae60" culture="neutral" />  
                            <bindingRedirect oldVersion="0.0.0.0-3.1.9.0" newVersion="3.1.9.0" />  
                    </dependentAssembly>  
                    <dependentAssembly>  
                            <assemblyIdentity name="System.Threading.Tasks.Extensions" publicKeyToken="cc7b13ffcd2ddd51" culture="neutral" />  
                            <bindingRedirect oldVersion="0.0.0.0-4.2.0.1" newVersion="4.2.0.1" />  
                    </dependentAssembly>  
                    <dependentAssembly>  
                            <assemblyIdentity name="Microsoft.Extensions.DependencyInjection.Abstractions" publicKeyToken="adb9793829ddae60" culture="neutral" />  
                            <bindingRedirect oldVersion="0.0.0.0-3.1.9.0" newVersion="3.1.9.0" />  
                    </dependentAssembly>  
                    <dependentAssembly>  
                            <assemblyIdentity name="System.ValueTuple" publicKeyToken="cc7b13ffcd2ddd51" culture="neutral" />  
                            <bindingRedirect oldVersion="0.0.0.0-4.0.3.0" newVersion="4.0.3.0" />  
                    </dependentAssembly>  
                    <dependentAssembly>  
                            <assemblyIdentity name="System.Buffers" publicKeyToken="cc7b13ffcd2ddd51" culture="neutral" />  
                            <bindingRedirect oldVersion="0.0.0.0-4.0.3.0" newVersion="4.0.3.0" />  
                    </dependentAssembly>  
            </assemblyBinding>  
    </runtime>
</configuration>
